<!DOCTYPE html>
<html>

{% include head.html %}

<body>

	{% include header.html %}

	<div id="wrap">

		<section>
			<header class="major">
				<h2>Hi, I'm <b>Ashley Weaver</b>. I'm an outside hitter graduating in <b>2021</b>. I play for
					<b>Hempfield High School</b> in Lancaster, PA and currently play for the <b>NVA 17s National</b>
					team at the Nook in Manheim, PA.
				</h2>
				<div class="announce">
					<div class="title">
						<b>PLAYING NEXT:</b>
					</div>
					<!--<div class="content">
						Pool TBD<br />
						Court TBD<br />
						<div>MAPL York, Mar 28-29, York, PA</div>
					</div>-->
					<div class="content">
						MAPL York, Mar 28-29, York, PA
					</div>
				</div>
			</header>
			<a id="menu"></a>
			<ul class="actions">
				<li><a href="#info">Basic Info</a></li>
				<li><a href="#academics">Academics</a></li>
				<li><a href="#athletics">Athletic History</a></li>
				<li><a href="#videos">Videos</a></li>
				<li><a href="#pictures">Pictures</a></li>
				<li><a href="#schedule">Schedule</a></li>
				<li><a href="#contact">Contact Me</a></li>
			</ul>
		</section>

		<section class='top'>
			<h2>Recent Highlights</h2>
			<div class="row">
				<article class="12u 12u$(xsmall) work-item">
					<video-js controls preload="auto" class='video-js vjs-theme-sea'
						poster='/images/video/capitol-hill-classic/all.png' data-setup='{"fluid": true}'>
						<source src='/images/video/capitol-hill-classic/all.mp4' type='video/mp4' />
					</video-js>
					<h3>Capitol Hill Classic Highlights <b>60sec</b></h3>
					<p>February 15-17th, 2020</p>
				</article>
				<article class="12u 12u$(xsmall) work-item">
					<video-js controls preload="auto" class='video-js vjs-theme-sea'
						poster='/images/video/nook-winter-tourn/365bcffe_480.png' data-setup='{"fluid": true}'>
						<source src='/images/video/nook-winter-tourn/365bcffe_480.mp4' type='video/mp4' />
					</video-js>
					<h3>8 Kills vs Nook Volleyball Academy <b>66sec</b></h3>
					<p>January 12th, 2020</p>
				</article>
				<article class="12u 12u$(xsmall) work-item">
					<video-js controls preload="auto" class='video-js vjs-theme-sea' poster='/images/video/mlk/all.png'
						data-setup='{"fluid": true}'>
						<source src='/images/video/mlk/all.mp4' type='video/mp4' />
					</video-js>
					<h3>MLK Highlights <b>75sec</b></h3>
					<p>January 18th - 20th, 2020</p>
				</article>
				<!--<article class="12u 12u$(xsmall) work-item">
					<video-js controls preload="auto" class='video-js vjs-theme-sea'
						poster='/images/video/nook-winter-tourn/0b08484f_480.png' data-setup='{"fluid": true}'>
						<source src='/images/video/nook-winter-tourn/0b08484f_480.mp4' type='video/mp4' />
					</video-js>
					<h3>4 kills vs Shockwave Chargers</h3>
					<p>January 12th, 2020</p>
				</article>
				<article class="12u 12u$(xsmall) work-item">
					<video-js controls preload="auto" class='video-js vjs-theme-sea'
						poster='/images/video/hempfield/8a067429_480.png' data-setup='{"fluid": true}'>
						<source src='/images/video/hempfield/8a067429_480.mp4' type='video/mp4' />
					</video-js>
					<h3>4 kills vs Dallastown</h3>
					<p>November 7th, 2019</p>
				</article>-->

				<div class="12u hudl-link">
					<div class="hudl-svg">
						<svg class="hui-globalnav__home-logo" width="32" height="32" viewBox="0 0 32 32">
							<path class="hui-globalnav__home-logo-dude1" d="M7.71561047,
						 22.8743411 C7.69323203,22.8745831 7.67172388,22.8656755 7.65605936,
						 22.8496782 C5.13312483,20.28289 3.94162275,16.6905213 4.43003177,13.1232321 C4.43371039,
						 13.0964992 4.4241299,13.0696509 4.40436319,13.0512985 C2.90166015,11.6371226 2.56446241,
						 9.3758666 3.58910652,7.58416795 C4.61375062,5.7924693 6.73265383,4.93822475 8.71206489,
						 5.51882619 C8.73798095,5.52641082 8.76596468,5.52084765 8.78701715,5.50392566 C9.28542345,
						 5.10761725 9.81584733,4.75341214 10.3728222,4.44496077 C10.385093,4.43821692 10.3988662,
						 4.43468232 10.4128652,4.43468454 C12.5949763,4.772506 14.6387223,5.7159511 16.3120191,
						 7.15788394 C16.3360351,7.17827375 16.3463869,7.21055123 16.3387145,7.24112136 C16.3311621,
						 7.27187145 16.3069275,7.29572916 16.2760831,7.3027787 C14.7049191,7.65724919 13.2237527,
						 8.33243471 11.9252582,9.28608996 C11.9014505,9.30352841 11.888577,9.33222582 11.8913757,
						 9.36162021 C11.9070919,9.51182509 11.9149743,9.66274782 11.9149908,9.81377407 C11.8998212,
						 12.0308947 10.267585,13.903895 8.07497064,14.220219 C8.04545038,14.2243243 8.02038188,
						 14.2439259 8.00925907,14.2716001 C7.85524757,14.6554171 7.71355699,15.0525931 7.5954815,
						 15.4533659 C6.8928464,17.8506088 6.96145367,20.4083275 7.79158948,22.7643856 C7.79982453,
						 22.789329 7.79588882,22.8166945 7.78095899,22.8383007 C7.76602916,22.8599069 7.74183529,
						 22.8732501 7.71561047,22.8743411 L7.71561047,22.8743411 Z"></path>
							<path class="hui-globalnav__home-logo-dude2" d="M22.3261683,18.7170947 C22.2997171,
						 18.7171395 22.2748221,18.7045883 22.259114,
						 18.6832881 C22.2434059,18.6619879 22.2387582,18.6344794 22.2465957,18.6091943 C22.7164809,
						 17.0927806 22.8736711,15.4966331 22.7086302,13.9175842 C22.705464,13.8885015 22.6873649,
						 13.86318 22.6608866,13.8507887 C21.0920663,13.1182786 20.085603,11.5463713 20.0760602,
						 9.81377407 C20.0733609,9.23040087 20.1858921,8.65224615 20.407185,8.11254516 C20.4183097,
						 8.0850834 20.4140082,8.05377288 20.3958908,8.03033537 C20.1284211,7.68071612 19.842763,
						 7.34541931 19.5401002,7.02583446 C17.817561,5.21513491 15.5694535,3.99277974 13.114227,
						 3.53191825 C13.0758946,3.52470949 13.0477172,3.49180764 13.0464619,3.45279133 C13.0452092,
						 3.41365271 13.0712208,3.37886975 13.1090933,3.3690401 C16.6236625,2.46023954 20.3606472,
						 3.25128975 23.2066007,5.50649472 C23.2212348,5.51804342 23.2393021,5.52437237 23.2579378,
						 5.52447811 C23.2662912,5.52460719 23.2746111,5.52339284 23.2825797,5.52088143 C23.6863777,
						 5.39915766 24.1057903,5.33718723 24.527506,5.33693702 C26.9870697,5.33693702 28.9938395,
						 7.33514881 29,9.79116638 C28.9995358,11.0264253 28.4894284,12.2066635 27.5902814,
						 13.0528399 C27.5705147,13.0711923 27.5609342,13.0980406 27.5646128,13.1247735 C27.6349863,
						 13.6421234 27.6706599,14.16361 27.6713941,14.6857319 C27.6713941,14.734544 27.6683139,
						 14.7823284 27.6647203,14.8301129 L27.6590732,14.9215713 C27.6589423,14.9403057 27.6524219,
						 14.9584334 27.6405918,14.9729524 C26.2608466,16.6887371 24.4293542,17.9843372 22.3528636,
						 18.713498 L22.3261683,18.7170947 Z"></path>
							<path class="hui-globalnav__home-logo-dude3" d="M16.0404455,28.9999984 C13.9763321,
						 29.001758 12.1804725,27.5862387 11.6983479,
						 25.5775019 C11.6916757,25.5509505 11.6725311,25.5292986 11.6470107,25.5194412 C11.0603585,
						 25.2828851 10.4937997,24.9991914 9.95288422,24.6711389 C9.93708937,24.6615084 9.92497822,
						 24.646854 9.91848832,24.6295202 C9.12738941,22.5778154 8.92399677,20.3458765 9.33119113,
						 18.1847863 C9.33680682,18.1538211 9.35949132,18.1287273 9.3897155,18.120046 L9.40614339,
						 18.120046 C9.43104933,18.1175569 9.45575087,18.1264269 9.47339508,18.1441952 C10.5642736,
						 19.3244111 11.8860418,20.2674407 13.3565384,20.9146652 C13.3670449,20.9193464 13.3784072,
						 20.9217957 13.3899076,20.9218586 C13.407214,20.9219369 13.424103,20.9165422 13.4381645,
						 20.9064442 C15.379925,19.5100846 18.0769467,19.8979716 19.5472874,21.7850614 C19.5631634,
						 21.8051888 19.5873774,21.8169275 19.612999,21.8169177 L19.6242932,21.8169177 C20.0308835,
						 21.7614261 20.4456878,21.6833268 20.8527916,21.5857026 C23.2814974,20.9957392 25.4629429,
						 19.65537 27.0876905,17.7547263 C27.1035656,17.7360582 27.1268555,17.7253432 27.1513486,
						 17.725439 C27.1651148,17.7254891 27.178669,17.7288365 27.1908782,17.7352015 C27.2250252,
						 17.7536805 27.2418575,17.7933448 27.2314346,17.8307703 C26.2526049,21.2945334 23.744289,
						 24.1197748 20.4225861,25.4999164 C20.3969629,25.5096251 20.3777612,25.5313416 20.3712489,
						 25.5579771 C19.9006637,27.5721822 18.1072132,28.9975747 16.0404455,28.9999984 L16.0404455,28.9999984 Z"></path>
						</svg>
					</div>
					<div class="hudl-a">
						<a href="http://www.hudl.com/profile/11749917/Ashley-Weaver">
							Watch more clips and full games on Hudl
						</a>
					</div>
				</div>
			</div>
		</section>

		<a id="info"></a>
		<section>
			<a href="#menu"><i class="icon menu fa-arrow-circle-up"></i></a>
			<h2>Basic Info</h2>
			<div class="stat-row">
				<div class="general-stat">
					<p class="title">jersey number</p><span class="value">3</span>
				</div>
				<div class="general-stat">
					<p class="title">height</p><span class="value">5' 10"</span>
				</div>
				<div class="general-stat">
					<p class="title">weight</p><span class="value">142 lbs</span>
				</div>
				<div class="general-stat">
					<p class="title">Dominant Hand</p><span class="value">Right</span>
				</div>
				<div class="general-stat">
					<p class="title">positions</p><span class="value">Outside Hitter, Right Side</span>
				</div>
				<div class="general-stat">
					<p class="title">approach jump</p><span class="value">9ft 9in</span>
				</div>
				<div class="general-stat">
					<p class="title">block jump</p><span class="value">9ft 5in</span>
				</div>
				<div class="general-stat">
					<p class="title">birthday</p><span class="value">September 22nd 2002</span>
				</div>
			</div>
		</section>

		<a id="academics"></a>
		<section>
			<a href="#menu"><i class="icon menu fa-arrow-circle-up"></i></a>
			<h2>Academic Info</h2>
			<div class="stat-row">
				<div class="general-stat">
					<p class="title">graduation year</p><span class="value">2021</span>
				</div>
				<div class="general-stat">
					<p class="title">i plan to study</p><span class="value">Business, Communications, Advertising and
						Marketing</span>
				</div>
				<div class="general-stat">
					<p class="title">GPA</p><span class="value">3.8 out of 4.0</span>
				</div>
				<div class="general-stat">
					<p class="title">Class Rank</p><span class="value">120 out of 610</span>
				</div>
			</div>
		</section>

		<a id="athletics"></a>
		<section>
			<a href="#menu"><i class="icon menu fa-arrow-circle-up"></i></a>
			<h2>Athletic History</h2>
			<h3>2020</h3>
			<div class="stat-row">
				<div class="general-stat">
					<p class="title">team</p><span class="value">Nook Volleyball Academy 17 Black</span>
				</div>
				<div class="general-stat">
					<p class="title">level</p><span class="value">National</span>
				</div>
				<div class="general-stat">
					<p class="title">coach</p><span class="value">Bayleigh Hoffman</span>
				</div>
				<div class="general-stat">
					<p class="title">coach email</p><span class="value">bayleighh@nooksports.com</span>
				</div>
			</div>
			<h3>2019</h3>
			<div class="stat-row">
				<div class="general-stat">
					<p class="title">team</p><span class="value">Ballyhoo Sports 16 White</span>
				</div>
				<div class="general-stat">
					<p class="title">level</p><span class="value">National</span>
				</div>
				<div class="general-stat">
					<p class="title">coach</p><span class="value">Jason Leppo</span>
				</div>
				<div class="general-stat">
					<p class="title">coach email</p><span class="value">volleyball@ballyhoocrewsports.com</span>
				</div>
			</div>
			<h3>2018</h3>
			<div class="stat-row">
				<div class="general-stat">
					<p class="title">team</p><span class="value">East Coast Power 16 White</span>
				</div>
				<div class="general-stat">
					<p class="title">level</p><span class="value">National</span>
				</div>
				<div class="general-stat">
					<p class="title">coach</p><span class="value">Eric Barton</span>
				</div>
				<div class="general-stat">
					<p class="title">coach email</p><span class="value">eric_barton@icloud.com</span>
				</div>
			</div>
		</section>

		<a id="videos"></a>
		<section>
			<a href="#menu"><i class="icon menu fa-arrow-circle-up"></i></a>
			<h2>Videos</h2>
			<div class="row">
				<article class="12u 12u$(xsmall) work-item">
					<div class="aspect">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/VeGmIIVs7z8" frameborder="0"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen class="video"></iframe>
					</div>
					<h3>2019 AAU Nationals Highlights</h3>
					<p>November 9th, 2019</p>
				</article>
				<article class="12u 12u$(xsmall) work-item">
					<div class="aspect">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/47hYOT5tlCM" frameborder="0"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen class="video"></iframe>
					</div>
					<h3>2019 Kentucky World Challenge Highlights</h3>
					<p>April 13th, 2019</p>
				</article>
				<article class="12u 12u$(xsmall) work-item">
					<div class="aspect">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/jRN0O4R3LUU" frameborder="0"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen class="video"></iframe>
					</div>
					<h3>2018 EC Power Highlights</h3>
					<p>April 2th, 2019</p>
				</article>
				<article class="12u 12u$(xsmall) work-item">
					<div class="aspect">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/nwn8s-DqHb8" frameborder="0"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen class="video"></iframe>
					</div>
					<h3>2017 High School Highlights</h3>
					<p>November 28th, 2017</p>
				</article>
			</div>
		</section>

		<a id="pictures"></a>
		<section>
			<a href="#menu"><i class="icon menu fa-arrow-circle-up"></i></a>
			<h2>Pictures</h2>
			<div class="row">
				<article class="6u 12u$(xsmall) work-item">
					<a href="/images/ashley-2020-nook.jpg" data-lightbox="roadtrip" class="image fit thumb"><img
							src="/images/ashley-2020-nook-thumb.jpg" alt="" /></a>
				</article>
				<article class="6u 12u$(xsmall) work-item">
					<a href="/images/nook-tournament-swing.jpg" data-lightbox="roadtrip" class="image fit thumb"><img
							src="/images/nook-tournament-swing-thumb.jpg" alt="" /></a>
				</article>
				<article class="6u 12u$(xsmall) work-item">
					<a href="/images/outside-hit-green.jpg" data-lightbox="roadtrip" class="image fit thumb"><img
							src="/images/outside-hit-green-thumb.jpg" alt="" /></a>
				</article>
				<article class="6u 12u$(xsmall) work-item">
					<a href="/images/nook-tournament-block.jpg" data-lightbox="roadtrip" class="image fit thumb"><img
							src="/images/nook-tournament-block-thumb.jpg" alt="" /></a>
				</article>
				<article class="6u 12u$(xsmall) work-item">
					<a href="/images/hit-over-block.jpg" data-lightbox="roadtrip" class="image fit thumb"><img
							src="/images/hit-over-block-thumb.jpg" alt="" /></a>
				</article>
				<article class="6u 12u$(xsmall) work-item">
					<a href="/images/outside-hit1.jpg" data-lightbox="roadtrip" class="image fit thumb"><img
							src="/images/outside-hit1-thumb.jpg" alt="" /></a>
				</article>
				<article class="6u 12u$(xsmall) work-item">
					<a href="/images/middle-hit1.jpg" data-lightbox="roadtrip" class="image fit thumb"><img
							src="/images/middle-hit1-thumb.jpg" alt="" /></a>
				</article>
				<article class="6u 12u$(xsmall) work-item">
					<a href="/images/outside-hit2.jpg" data-lightbox="roadtrip" class="image fit thumb"><img
							src="/images/outside-hit2-thumb.jpg" alt="" /></a>
				</article>
				<!--<article class="6u 12u$(xsmall) work-item">
					<a href="/images/profile.jpeg" data-lightbox="roadtrip" class="image fit thumb"><img
							src="/images/profile.jpeg" alt="" /></a>
				</article>-->
			</div>
		</section>

		<a id="schedule"></a>
		<section>
			<a href="#menu"><i class="icon menu fa-arrow-circle-up"></i></a>
			<h2>Tournament Schedule</h2>
			<div class="row">
				<table class="schedule" cellspacing="0" cellpadding="4" dir="ltr" border="1"
					style="border-color: #99acc2; border-collapse: collapse; table-layout: fixed;">
					<tbody>
						<tr>
							<td><strong>Date</strong></td>
							<td><strong>Tournament</strong></td>
							<td><strong>Location</strong></td>
						</tr>
						<tr>
							<td>January 18 - 20</td>
							<td>MLK</td>
							<td>Manheim
								PA</td>
						</tr>
						<tr>
							<td>
								February 1 - 2</td>
							<td style="width: 211px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;JVA Steel City Freeze&quot;}">
								JVA Steel City
								Freeze</td>
							<td>
								Pittsburgh, PA</td>
						</tr>
						<tr>
							<td style="width: 100px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;February 15 - 17&quot;}">
								February 15 - 17</td>
							<td style="width: 211px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Capitol Hill Classic&quot;}">
								Capitol Hill
								Classic</td>
							<td style="width: 106px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Washington, DC &quot;}">
								Washington, DC</td>
						</tr>
						<tr>
							<td style="width: 100px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;March 28- 29&quot;}">March
								28- 29</td>
							<td style="width: 211px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;MAPL York&quot;}">MAPL
								York</td>
							<td style="width: 106px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;York, PA&quot;}">York, PA
							</td>
						</tr>
						<tr>
							<td style="width: 100px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;April 3 - 5&quot;}">April
								3 - 5</td>
							<td style="width: 211px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;JVA World Challenge&quot;}">JVA
								World Challenge
							</td>
							<td style="width: 106px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Louisville, KY&quot;}">
								Louisville, KY</td>
						</tr>
						<tr>
							<td style="width: 100px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;April 10 - 12 &quot;}">
								April 10 - 12</td>
							<td style="width: 211px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;NEQ 2&quot;}">NEQ 2</td>
							<td style="width: 106px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Philadelphia, PA&quot;}">
								Philadelphia, PA</td>
						</tr>
						<tr>
							<td style="width: 100px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;May 23 - 25 &quot;}">May
								23 - 25</td>
							<td style="width: 211px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;East Coast Championships&quot;}">
								East Coast
								Championships</td>
							<td style="width: 106px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Pittsburgh, PA&quot;}">
								Pittsburgh, PA</td>
						</tr>
						<tr>
							<td style="width: 100px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;June 6 - 7&quot;}">June 6
								- 7</td>
							<td style="width: 211px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;JVA Summerfest&quot;}">JVA
								Summerfest</td>
							<td style="width: 106px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Columbus, OH&quot;}">
								Columbus, OH</td>
						</tr>
						<tr>
							<td>TBD</td>
							<td>AAU
								Nationals</td>
							<td>
								Orlando, FL</td>
						</tr>
						<tr>
							<td>TBD</td>
							<td>
								USAV Nationals</td>
							<td>Dallas,
								TX</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>

		<a id="contact"></a>
		<section>
			<a href="#menu"><i class="icon menu fa-arrow-circle-up"></i></a>
			<h2>Get In Touch</h2>
			<div style='margin-bottom: 100px;'>
				<div style='float:left'>
					<img src="/images/avatar.png" alt="" width='100' />
				</div>
				<div style='margin-left: 120px; max-width: 400px;'>
					<p>Please feel free to email me for more information at
						<a href="mailto://ashleyweaver2021@gmail.com">ashleyweaver2021@gmail.com</a>.</p>
				</div>
			</div>
		</section>

	</div>

	{% include footer.html %}
	{% include analytics.html %}
</body>

</html>
