<!DOCTYPE html>
<html>

{% include head.html %}

<body>

	{% include header.html %}

	<div id="wrap">

		<section>
			<header class="major">
				<h2>Hi, I'm <b>Ashley Weaver</b>. I'm an outside hitter graduating in <b>2021</b>. I play for
					<b>Hempfield High School</b> in Lancaster, PA and currently play for the <b>NVA 17s National</b>
					team at the Nook in Manheim, PA.
				</h2>
			</header>
			<ul class="actions">
				<li><a href="/about" class="button">More About Me</a></li>
			</ul>
		</section>

		<section>
			<h2>Recent Highlights</h2>
			<div class="row">
				<article class="12u 12u$(xsmall) work-item">
					<video controls preload="auto" class='video-js vjs-theme-sea' data-setup='{"fluid": true}'>
						<source
							src='https://vd.hudl.com/p-highlights/User/11749917/5e1bf63a19b02f1444f74961/365bcffe_480.mp4'
							type='video/mp4' />
					</video>
					<h3>8 Kills vs Nook Volleyball Academy</h3>
					<p>January 12th, 2020</p>
				</article>
				<article class="12u 12u$(xsmall) work-item">
					<video controls preload="auto" class='video-js vjs-theme-sea' data-setup='{"fluid": true}'>
						<source
							src='https://vd.hudl.com/p-highlights/User/11749917/5e1c025a96814d13c44b898c/0b08484f_480.mp4'
							type='video/mp4' />
					</video>
					<h3>4 kills vs Shockwave Chargers</h3>
					<p>January 12th, 2020</p>
				</article>
				<article class="12u 12u$(xsmall) work-item">
					<video controls preload="auto" class='video-js vjs-theme-sea' data-setup='{"fluid": true}'>
						<source
							src='https://vc.hudl.com/p-highlights/User/11749917/5dc41cdeb534480db40a6ba1/8a067429_480.mp4'
							type='video/mp4' />
					</video>
					<h3>4 kills vs Dallastown</h3>
					<p>November 7th, 2019</p>
				</article>
			</div>
		</section>

		<section>
			<h2>Basic Info</h2>
			<div class="stat-row">
				<div class="general-stat">
					<p class="title">height</p><span class="value">5' 10"</span>
				</div>
				<div class="general-stat">
					<p class="title">weight</p><span class="value">142 lbs</span>
				</div>
				<div class="general-stat">
					<p class="title">Dominant Hand</p><span class="value">Right</span>
				</div>
				<div class="general-stat">
					<p class="title">positions</p><span class="value">Outside Hitter, Right Side</span>
				</div>
				<div class="general-stat">
					<p class="title">i plan to study</p><span class="value">Communications, Advertising and
						Marketing</span>
				</div>
				<div class="general-stat">
					<p class="title">GPA</p><span class="value">3.7 out of 4.0</span>
				</div>
				<div class="general-stat">
					<p class="title">Class Rank</p><span class="value">120 out of 610</span>
				</div>
				<div class="general-stat">
					<p class="title">birthday</p><span class="value">September 22nd 2002</span>
				</div>
			</div>
		</section>

		<section>
			<h2>Acedemic Info</h2>
			<div class="stat-row">
				<div class="general-stat">
					<p class="title">height</p><span class="value">5' 10"</span>
				</div>
				<div class="general-stat">
					<p class="title">weight</p><span class="value">142 lbs</span>
				</div>
				<div class="general-stat">
					<p class="title">Dominant Hand</p><span class="value">Right</span>
				</div>
				<div class="general-stat">
					<p class="title">positions</p><span class="value">Outside Hitter, Right Side</span>
				</div>
				<div class="general-stat">
					<p class="title">i plan to study</p><span class="value">Communications, Advertising and
						Marketing</span>
				</div>
				<div class="general-stat">
					<p class="title">GPA</p><span class="value">3.7 out of 4.0</span>
				</div>
				<div class="general-stat">
					<p class="title">Class Rank</p><span class="value">120 out of 610</span>
				</div>
				<div class="general-stat">
					<p class="title">birthday</p><span class="value">September 22nd 2002</span>
				</div>
			</div>
		</section>

		<section>
			<h2>Athletic History</h2>
			<div class="stat-row">
				<div class="general-stat">
					<p class="title">height</p><span class="value">5' 10"</span>
				</div>
				<div class="general-stat">
					<p class="title">weight</p><span class="value">142 lbs</span>
				</div>
				<div class="general-stat">
					<p class="title">Dominant Hand</p><span class="value">Right</span>
				</div>
				<div class="general-stat">
					<p class="title">positions</p><span class="value">Outside Hitter, Right Side</span>
				</div>
				<div class="general-stat">
					<p class="title">i plan to study</p><span class="value">Communications, Advertising and
						Marketing</span>
				</div>
				<div class="general-stat">
					<p class="title">GPA</p><span class="value">3.7 out of 4.0</span>
				</div>
				<div class="general-stat">
					<p class="title">Class Rank</p><span class="value">120 out of 610</span>
				</div>
				<div class="general-stat">
					<p class="title">birthday</p><span class="value">September 22nd 2002</span>
				</div>
			</div>
		</section>

		<section>
			<h2>Pictures</h2>
			<div class="row">
				<article class="6u 12u$(xsmall) work-item">
					<a href="/images/hit-over-block.jpg" data-lightbox="roadtrip" class="image fit thumb"><img
							src="/images/hit-over-block.jpg" alt="" /></a>
				</article>
				<article class="6u 12u$(xsmall) work-item">
					<a href="/images/outside-hit1.jpeg" data-lightbox="roadtrip" class="image fit thumb"><img
							src="/images/outside-hit1.jpeg" alt="" /></a>
				</article>
				<article class="6u 12u$(xsmall) work-item">
					<a href="/images/middle-hit1.jpeg" data-lightbox="roadtrip" class="image fit thumb"><img
							src="/images/middle-hit1.jpeg" alt="" /></a>
				</article>
				<article class="6u 12u$(xsmall) work-item">
					<a href="/images/outside-hit2.jpeg" data-lightbox="roadtrip" class="image fit thumb"><img
							src="/images/outside-hit2.jpeg" alt="" /></a>
				</article>
				<article class="6u 12u$(xsmall) work-item">
					<a href="/images/blocking.jpg" data-lightbox="roadtrip" class="image fit thumb"><img
							src="/images/blocking.jpg" alt="" /></a>
				</article>
			</div>
		</section>

		<section>
			<h2>Get In Touch</h2>
			<a id="contact"></a>
			<p>Please feel free to email me for more information at
				<a href="mailto://ashleyweaver2021@gmail.com">ashleyweaver2021@gmail.com</a>.</p>
		</section>

	</div>

	{% include footer.html %}

</body>

</html>
