<!DOCTYPE html>
<html>

{% include head.html %}

<body>

	{% include header.html %}

	<div id="wrap">

		<section>
			<header class="major">
				<h2>Hi, I'm <b>Ashley Weaver</b>. I'm an outside hitter graduating in <b>2021</b>. I play for
					<b>Hempfield High School</b> in Lancaster, PA and currently play for the <b>NVA 17s National</b>
					team at the Nook in Manheim, PA.
				</h2>
				<div class="announce">
					<div class="title">
						<b>PLAYING NEXT:</b>
					</div>
					<div class="content">
						Saturday TBA<br />
						Court TBA<br />
						<div>JVA Steel City Freeze, Feb 1-2, Pittsburgh, PA</div>
					</div>
				</div>
			</header>
			<a id="menu"></a>
			<ul class="actions">
				<li><a href="#info">Basic Info</a></li>
				<li><a href="#academics">Academics</a></li>
				<li><a href="#athletics">Athletic History</a></li>
				<li><a href="#videos">Videos</a></li>
				<li><a href="#pictures">Pictures</a></li>
				<li><a href="#schedule">Schedule</a></li>
				<li><a href="#contact">Contact Me</a></li>
			</ul>
		</section>

		<section class='top'>
			<h2>Recent Highlights</h2>
			<div class="row">
				<article class="12u 12u$(xsmall) work-item">
					<video-js controls preload="auto" class='video-js vjs-theme-sea' poster='/images/video/mlk/all.png'
						data-setup='{"fluid": true}'>
						<source src='/images/video/mlk/all.mp4' type='video/mp4' />
					</video-js>
					<h3>MLK Highlights</h3>
					<p>January 18th - 20th, 2020</p>
				</article>
				<article class="12u 12u$(xsmall) work-item">
					<video-js controls preload="auto" class='video-js vjs-theme-sea'
						poster='/images/video/nook-winter-tourn/365bcffe_480.png' data-setup='{"fluid": true}'>
						<source src='/images/video/nook-winter-tourn/365bcffe_480.mp4' type='video/mp4' />
					</video-js>
					<h3>8 Kills vs Nook Volleyball Academy</h3>
					<p>January 12th, 2020</p>
				</article>
				<article class="12u 12u$(xsmall) work-item">
					<video-js controls preload="auto" class='video-js vjs-theme-sea'
						poster='/images/video/nook-winter-tourn/0b08484f_480.png' data-setup='{"fluid": true}'>
						<source src='/images/video/nook-winter-tourn/0b08484f_480.mp4' type='video/mp4' />
					</video-js>
					<h3>4 kills vs Shockwave Chargers</h3>
					<p>January 12th, 2020</p>
				</article>
				<article class="12u 12u$(xsmall) work-item">
					<video-js controls preload="auto" class='video-js vjs-theme-sea'
						poster='/images/video/hempfield/8a067429_480.png' data-setup='{"fluid": true}'>
						<source src='/images/video/hempfield/8a067429_480.mp4' type='video/mp4' />
					</video-js>
					<h3>4 kills vs Dallastown</h3>
					<p>November 7th, 2019</p>
				</article>
			</div>
		</section>

		<a id="info"></a>
		<section>
			<a href="#menu"><i class="icon menu fa-arrow-circle-up"></i></a>
			<h2>Basic Info</h2>
			<div class="stat-row">
				<div class="general-stat">
					<p class="title">jersey number</p><span class="value">3</span>
				</div>
				<div class="general-stat">
					<p class="title">height</p><span class="value">5' 10"</span>
				</div>
				<div class="general-stat">
					<p class="title">weight</p><span class="value">142 lbs</span>
				</div>
				<div class="general-stat">
					<p class="title">Dominant Hand</p><span class="value">Right</span>
				</div>
				<div class="general-stat">
					<p class="title">positions</p><span class="value">Outside Hitter, Right Side</span>
				</div>
				<div class="general-stat">
					<p class="title">approach jump</p><span class="value">9ft 5in</span>
				</div>
				<div class="general-stat">
					<p class="title">block jump</p><span class="value">9ft 3in</span>
				</div>
				<div class="general-stat">
					<p class="title">birthday</p><span class="value">September 22nd 2002</span>
				</div>
			</div>
		</section>

		<a id="academics"></a>
		<section>
			<a href="#menu"><i class="icon menu fa-arrow-circle-up"></i></a>
			<h2>Academic Info</h2>
			<div class="stat-row">
				<div class="general-stat">
					<p class="title">graduation year</p><span class="value">2021</span>
				</div>
				<div class="general-stat">
					<p class="title">i plan to study</p><span class="value">Business, Communications, Advertising and
						Marketing</span>
				</div>
				<div class="general-stat">
					<p class="title">GPA</p><span class="value">3.92 out of 4.0</span>
				</div>
				<div class="general-stat">
					<p class="title">Class Rank</p><span class="value">120 out of 610</span>
				</div>
			</div>
		</section>

		<a id="athletics"></a>
		<section>
			<a href="#menu"><i class="icon menu fa-arrow-circle-up"></i></a>
			<h2>Athletic History</h2>
			<h3>2020</h3>
			<div class="stat-row">
				<div class="general-stat">
					<p class="title">team</p><span class="value">Nook Volleyball Academy 17 Black</span>
				</div>
				<div class="general-stat">
					<p class="title">level</p><span class="value">National</span>
				</div>
				<div class="general-stat">
					<p class="title">coach</p><span class="value">Bayleigh Hoffman</span>
				</div>
				<div class="general-stat">
					<p class="title">coach email</p><span class="value">bayleighh@nooksports.com</span>
				</div>
			</div>
			<h3>2019</h3>
			<div class="stat-row">
				<div class="general-stat">
					<p class="title">team</p><span class="value">Ballyhoo Sports 16 White</span>
				</div>
				<div class="general-stat">
					<p class="title">level</p><span class="value">National</span>
				</div>
				<div class="general-stat">
					<p class="title">coach</p><span class="value">Jason Leppo</span>
				</div>
				<div class="general-stat">
					<p class="title">coach email</p><span class="value">volleyball@ballyhoocrewsports.com</span>
				</div>
			</div>
			<h3>2018</h3>
			<div class="stat-row">
				<div class="general-stat">
					<p class="title">team</p><span class="value">East Coast Power 16 White</span>
				</div>
				<div class="general-stat">
					<p class="title">level</p><span class="value">National</span>
				</div>
				<div class="general-stat">
					<p class="title">coach</p><span class="value">Eric Barton</span>
				</div>
				<div class="general-stat">
					<p class="title">coach email</p><span class="value">eric_barton@icloud.com</span>
				</div>
			</div>
		</section>

		<a id="videos"></a>
		<section>
			<a href="#menu"><i class="icon menu fa-arrow-circle-up"></i></a>
			<h2>Videos</h2>
			<div class="row">
				<article class="12u 12u$(xsmall) work-item">
					<div class="aspect">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/VeGmIIVs7z8" frameborder="0"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen class="video"></iframe>
					</div>
					<h3>2019 AAU Nationals Highlights</h3>
					<p>November 9th, 2019</p>
				</article>
				<article class="12u 12u$(xsmall) work-item">
					<div class="aspect">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/47hYOT5tlCM" frameborder="0"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen class="video"></iframe>
					</div>
					<h3>2019 Kentucky World Challenge Highlights</h3>
					<p>April 13th, 2019</p>
				</article>
				<article class="12u 12u$(xsmall) work-item">
					<div class="aspect">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/jRN0O4R3LUU" frameborder="0"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen class="video"></iframe>
					</div>
					<h3>2018 EC Power Highlights</h3>
					<p>April 2th, 2019</p>
				</article>
				<article class="12u 12u$(xsmall) work-item">
					<div class="aspect">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/nwn8s-DqHb8" frameborder="0"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen class="video"></iframe>
					</div>
					<h3>2017 High School Highlights</h3>
					<p>November 28th, 2017</p>
				</article>
			</div>
		</section>

		<a id="pictures"></a>
		<section>
			<a href="#menu"><i class="icon menu fa-arrow-circle-up"></i></a>
			<h2>Pictures</h2>
			<div class="row">
				<article class="6u 12u$(xsmall) work-item">
					<a href="/images/profile.jpeg" data-lightbox="roadtrip" class="image fit thumb"><img
							src="/images/profile.jpeg" alt="" /></a>
				</article>
				<article class="6u 12u$(xsmall) work-item">
					<a href="/images/nook-tournament-swing.jpg" data-lightbox="roadtrip" class="image fit thumb"><img
							src="/images/nook-tournament-swing-thumb.jpg" alt="" /></a>
				</article>
				<article class="6u 12u$(xsmall) work-item">
					<a href="/images/nook-tournament-block.jpg" data-lightbox="roadtrip" class="image fit thumb"><img
							src="/images/nook-tournament-block-thumb.jpg" alt="" /></a>
				</article>
				<article class="6u 12u$(xsmall) work-item">
					<a href="/images/hit-over-block.jpg" data-lightbox="roadtrip" class="image fit thumb"><img
							src="/images/hit-over-block-thumb.jpg" alt="" /></a>
				</article>
				<article class="6u 12u$(xsmall) work-item">
					<a href="/images/outside-hit1.jpg" data-lightbox="roadtrip" class="image fit thumb"><img
							src="/images/outside-hit1-thumb.jpg" alt="" /></a>
				</article>
				<article class="6u 12u$(xsmall) work-item">
					<a href="/images/middle-hit1.jpg" data-lightbox="roadtrip" class="image fit thumb"><img
							src="/images/middle-hit1-thumb.jpg" alt="" /></a>
				</article>
				<article class="6u 12u$(xsmall) work-item">
					<a href="/images/outside-hit2.jpg" data-lightbox="roadtrip" class="image fit thumb"><img
							src="/images/outside-hit2-thumb.jpg" alt="" /></a>
				</article>
			</div>
		</section>

		<a id="schedule"></a>
		<section>
			<a href="#menu"><i class="icon menu fa-arrow-circle-up"></i></a>
			<h2>Tournament Schedule</h2>
			<div class="row">
				<table class="schedule" cellspacing="0" cellpadding="4" dir="ltr" border="1"
					style="border-color: #99acc2; border-collapse: collapse; table-layout: fixed;">
					<tbody>
						<tr>
							<td><strong>Date</strong></td>
							<td><strong>Tournament</strong></td>
							<td><strong>Location</strong></td>
						</tr>
						<tr>
							<td>January 18 - 20</td>
							<td>MLK</td>
							<td>Manheim
								PA</td>
						</tr>
						<tr>
							<td>
								February 1 - 2</td>
							<td style="width: 211px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;JVA Steel City Freeze&quot;}">
								JVA Steel City
								Freeze</td>
							<td>
								Pittsburgh, PA</td>
						</tr>
						<tr>
							<td style="width: 100px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;February 15 - 17&quot;}">
								February 15 - 17</td>
							<td style="width: 211px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Capitol Hill Classic&quot;}">
								Capitol Hill
								Classic</td>
							<td style="width: 106px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Washington, DC &quot;}">
								Washington, DC</td>
						</tr>
						<tr>
							<td style="width: 100px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;March 28- 29&quot;}">March
								28- 29</td>
							<td style="width: 211px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;MAPL York&quot;}">MAPL
								York</td>
							<td style="width: 106px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;York, PA&quot;}">York, PA
							</td>
						</tr>
						<tr>
							<td style="width: 100px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;April 3 - 5&quot;}">April
								3 - 5</td>
							<td style="width: 211px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;JVA World Challenge&quot;}">JVA
								World Challenge
							</td>
							<td style="width: 106px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Louisville, KY&quot;}">
								Louisville, KY</td>
						</tr>
						<tr>
							<td style="width: 100px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;April 10 - 12 &quot;}">
								April 10 - 12</td>
							<td style="width: 211px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;NEQ 2&quot;}">NEQ 2</td>
							<td style="width: 106px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Philadelphia, PA&quot;}">
								Philadelphia, PA</td>
						</tr>
						<tr>
							<td style="width: 100px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;May 23 - 25 &quot;}">May
								23 - 25</td>
							<td style="width: 211px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;East Coast Championships&quot;}">
								East Coast
								Championships</td>
							<td style="width: 106px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Pittsburgh, PA&quot;}">
								Pittsburgh, PA</td>
						</tr>
						<tr>
							<td style="width: 100px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;June 6 - 7&quot;}">June 6
								- 7</td>
							<td style="width: 211px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;JVA Summerfest&quot;}">JVA
								Summerfest</td>
							<td style="width: 106px;"
								data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Columbus, OH&quot;}">
								Columbus, OH</td>
						</tr>
						<tr>
							<td>TBD</td>
							<td>AAU
								Nationals</td>
							<td>
								Orlando, FL</td>
						</tr>
						<tr>
							<td>TBD</td>
							<td>
								USAV Nationals</td>
							<td>Dallas,
								TX</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>

		<a id="contact"></a>
		<section>
			<a href="#menu"><i class="icon menu fa-arrow-circle-up"></i></a>
			<h2>Get In Touch</h2>
			<div style='margin-bottom: 100px;'>
				<div style='float:left'>
					<img src="/images/avatar.png" alt="" width='100' />
				</div>
				<div style='margin-left: 120px; max-width: 400px;'>
					<p>Please feel free to email me for more information at
						<a href="mailto://ashleyweaver2021@gmail.com">ashleyweaver2021@gmail.com</a>.</p>
				</div>
			</div>
		</section>

	</div>

	{% include footer.html %}
	{% include analytics.html %}
</body>

</html>
